<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>297579218130-uisf3029fke88eglm53frpudsg24ar66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297579218130-uisf3029fke88eglm53frpudsg24ar66</string>
	<key>API_KEY</key>
	<string>AIzaSyCPWvQ9d2LURwboSiVtRceHcv9ra8Kcuds</string>
	<key>GCM_SENDER_ID</key>
	<string>297579218130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>basedOnTy.Swiftr-Flash-Card</string>
	<key>PROJECT_ID</key>
	<string>swiftr-flash-card</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftr-flash-card.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297579218130:ios:8778a07a8f5b11d8</string>
	<key>DATABASE_URL</key>
	<string>https://swiftr-flash-card.firebaseio.com</string>
</dict>
</plist>